ul,li {
  list-style: none;
}
aside, .add {
  float: right;
  color: #206f79;
}
.req {
  font-size: 16px;
  color: red;
}
.cat {
  margin: .5% 0 .5% 0;
  color: black;
}
.movie {
  width: 30%;
  height: 30%;
  border: 2px solid black;
  background-color: ivory;
  color: firebrick;
}
.moviesall {
  color: black;
}
.user {
  width: 30%;
  height: 30%;
  border: 2px solid #b19cd9;
  background-color: ivory;
  color: black;
}
body {
  background-color: #91ffd0;
}
h1, h2 {
  color: #5f9ea0;
}
div > h3,h4 {
  color: #e5e1d6;
}
input {
  background-color: #1a297a;
  color: white;
}
a {
  text-decoration: none;
  color: firebrick;
}
a:hover {
  color: blue;
}
.center {
  text-align: center;
}
img {
  width: 60%;
  height: 80%;
}
.all {
  color: black;
}
