<form action="/" method="post">
  <input type="text" name="title" placeholder='Movie Title'>
  <input type="submit" name="submit" value="Search">
</form>
{{#if info}}
  <h4>Title:</h4> <p>{{info.Title}}</p>
  <h3>Summary:</h3> <p>{{info.Plot}}</p>
{{/if}}
